@model ControleDeCarga.Models.Exportador

@{
    ViewBag.Title = "Editar Exportador";
}
<hr/>
<div class="container">    
        @using (Html.BeginForm())
        {
            <div class="row">
            <div class="col-lg-5">
            @Html.AntiForgeryToken()
	        <div class="form-horizontal">				
				@Html.ValidationSummary(true)
		        				        @Html.HiddenFor(model => model.Id)
		        				        <div class="form-group">
		        					        @Html.LabelFor(model => model.Nome, new { @class = "control-label col-lg-4" })
		        					        <div class="col-lg-8">
		        						        @Html.EditorFor(model => model.Nome)
		        						        @Html.ValidationMessageFor(model => model.Nome)
					        </div>
				        </div>
		        				        @Html.HiddenFor(model => model.CriadoPorUserId)
		        				        @Html.HiddenFor(model => model.CriadoEm)
		        				        @Html.HiddenFor(model => model.ModificadoPorUserId)
		        				        @Html.HiddenFor(model => model.ModificadoEm)
		                         </div>
             </div>
         </div>
	    <div class="row">
            <div class="col-lg-offset-5 col-lg-6">
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>        
}
</div>
