@model ControleDeCarga.Models.LocalDeEntrega

@{
    ViewBag.Title = "Detalhes do Local de Entrega";
}


    	<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uf.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        @Html.Partial("_EntityModificationControl")
    </dl>
</div>
</div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
