@model IEnumerable<ControleDeCarga.Models.Parceiro>

@{
    ViewBag.Title = "#NomeTela1#";
}
@section Scripts {
     <script type="text/javascript">
        StyleGridButtons();        
     </script>
}
<hr/>
<div class="container">
<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
    <div class="col-lg-4">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { data_edit = true })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { data_detail = true })
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { data_delete = true })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>