@model ControleDeCarga.Models.Filial

@{
    ViewBag.Title = "Detalhes Filial";
}


    	<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uf.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato)
        </dd>

        @Html.Partial("_EntityModificationControl")

    </dl>
</div>
</div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
