@model ControleDeCarga.Models.Importador

@{
    ViewBag.Title = "Excluir Importador";
}

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <div class="panel panel-warning">
                <div class="panel-heading"><strong>Tem certeza que deseja excluir?</strong></div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CNPJ)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CNPJ)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Endereco)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Endereco)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-offset-4 col-md-6">
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Excluir" class="btn btn-warning" />
        </div>
    }
</div>